* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #333;
}

.countdown {
    font-size: 18px;
    color: #ff0000;
}

.time-button {
    padding: 10px 15px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    background-color: #747474;
    color: white;
    border: none;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close {
    padding: 10px 15px;
    font-size: 16px;
    width: 150px;
    height: 30px;
    background-color: #ec3535;
    color: white;
    border: none;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.room-info {
    margin-top: 20px;
}

.room-info p {
    font-size: 18px;
    margin: 10px 0;
}

.table th, .table td {
    padding: 0;
    text-align: start;
}
.controls {
    display: flex;
    gap: 20px;
}
.controls_1 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 200px;
}
.controls_2 {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 200px;

}

.controls_1 button {
    padding: 10px 15px; /* Khoảng cách bên trong nút */

    background-color: #747474;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
.controls_2 button {
    padding: 10px 15px; /* Khoảng cách bên trong nút */
    width: 100;
    height: 10;
    background-color: #747474;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.actions button {
    padding: 10px;
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.details {
    margin-top: 20px;
}

.details a {
    color: #007bff;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}
.header-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.header-buttons button {
    margin-bottom: 5px;

}

.block {
    margin: 20px 0;
    border-radius: 16px;
}



button:hover {
    background-color: #e0e0e0;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 270px;
    height: 330px;
    box-sizing: border-box;
    text-align: center;
}

.qr-code img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.qr-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.qr-btn, .link-btn {
    padding: 5px 10px;
    border: 1px solid #8d1c1c;
    background-color: #e01c1c;
    border-radius: 5px;
    margin: 0 5px;
}

.qr-btn:hover, .link-btn:hover {
    background-color: #e0e0e0;
}


.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.confirmation p {
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skip-btn {
    background-color: #4CAF50;
    color: white;
    width: 45%;
}

.all-btn {
    background-color: #891b1b;
    width: 45%;
    color: white;
}
.controls_4 {
    margin-top: 20px;
    display: flex;
    gap: 10px;

}
.controls_4 button {
    padding: 10px;
    background-color: #bac6d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.green { background-color: rgb(93, 188, 93); }
.yellow { background-color: yellow; }
.red { background-color: red; }
.gray { background-color: gray; }
.white {background-color: white;}

