/*section-2*/
.section-2{
    padding: 150px 0;
}

.section-2 .inner-wrap{
    width: 450px;
    height: 380px;
    box-shadow: #00000026 0px 5px 15px 0px;
    padding: 25px 30px;
    margin: 0 auto;
}

.section-2 .inner-wrap .inner-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;

}

.section-2 .inner-wrap .inner-form .inner-title{
    font-size: 32px;
    font-weight:600;
}

.section-2 .inner-wrap .inner-form .inner-desc{
    font-size: 18px;
}

.section-2 .inner-wrap .inner-form .inner-input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.section-2 .inner-wrap .inner-form .inner-button{
    width: 300px;
    height: 35px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: #00B050;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 30px;
}

.section-2 .inner-wrap .inner-form .inner-return{
    color: #AFABAB;
    font-size: 20px;
    font-weight: 600;
}

/*end section-2*/