<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h1, input, button, .list {
            left: calc(50% - 200px);
            
        }
    </style>
</head>
<body class = "flex  w-fit border-blue-600 border-[2px] ">
    <label for="meeting-time" class = "bg-green-200"><span>Chọn thời gian:
            </span></label>
    <input type="datetime-local" id="meeting-time" name="meeting-time" class = "bg-green-200"
           value="2024-01-01T00:00"
           min="2024-01-01T00:00" max="2025-12-31T23:59">
</body>
</html>
<div class = "flex  w-fit border-blue-600 border-[2px] "></body>
    <label for="meeting-time" class = "bg-green-200"><span>Chọn thời gian:
            </span></label>
    <input type="datetime-local" id="meeting-time" name="meeting-time" class = "bg-green-200"
           value="2024-01-01T00:00"
           min="2024-01-01T00:00" max="2025-12-31T23:59">
</div>