<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Đăng nhập admin</title>
</head>

<body>

    <div layout:fragment="content">

        <!-- Thịnh -->
        <div class="card card-body start-50 position-absolute translate-middle-x shadow-sm" style="width: 400px; margin-top: 100px;">
            <h5 class="text-center">Đăng nhập cho admin</h5>
            <form th:action="@{/admin/login}" method="post" class="text-center" th:object="${data}">
              <input type="password" placeholder="Nhập mật khẩu" class="form-control mt-3" th:field="*{password}">
              <button class="mt-2 btn btn-outline-dark btn-sm px-5 mt-3">Đăng nhập</button>
            </form>
        </div>

        <!-- Notification -->
        <div id="notification" class="position-fixed w-100 h-100 top-0 start-0"
            style="z-index: 100000; background-color: rgba(128, 128, 128, 0.551);" hidden>
            <div class="card card-body p-2 position-absolute start-50 translate-middle-x"
                style="width: 360px; margin-top: 80px;">
                <button class="btn btn-close position-absolute end-0 top-0 m-2"
                    onclick="notification.hidden = true"></button>
                <div class="m-0 text-center" style="font-size: 18px;">Thông báo</div>
                <hr class="mt-2 mb-2">
                <p id="content" class="text-center px-2"></p>
                <div id="action" class="d-flex justify-content-center mt-3">
                </div>
            </div>
        </div>

        <script src="https://cdn.tailwindcss.com"></script>
    </div>

</body>

</html>