<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Tạo phòng</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="w-100" style="height: 50px;"></div>

        <!-- Hưng -->
        <!-- Content -->
        <div class="card card-body col-sm-6 offset-sm-3 shadow-sm">
            <div class="text-center fw-light fs-4">Tạo phòng điểm danh mới</div>

            <form th:object="${data}" th:action="@{/rooms/create-room}" method="post" class="mx-2">
                <div class="mt-3 row">

                    <div class="col-6">
                        <!-- Room name -->
                        <label class="fw-bolder" for=""><i class='bx bx-notepad'></i> Tên phòng:</label>
                        <input th:field="*{name}" type="text" class="form-control mt-2" placeholder="VD: Phòng điểm danh lớp A...">

                        <!-- Room owner name -->
                        <label for="" class="mt-3 fw-bolder"><i class='bx bx-user'></i> Tên chủ phòng:</label>
                        <input th:field="*{createBy}" type="text" class="form-control mt-2" placeholder="VD: Nguyễn Văn A...">

                        <!-- Attendees list -->
                        <label for="" class="mt-3 fw-bolder w-100"><i class='bx bx-user'></i> Danh sách người tham gia:</label>
                        <div class="mt-2 d-flex">
                            <button id="updateListBtn" class="btn btn-sm btn-dark"><i class='bx bx-upload'></i> Cập nhật</button>
                            <p id="emptyMess" class="fst-italic fw-bold text-danger my-auto ms-2" style="font-size: 14px;">Danh sách trống!</p>
                            <p id="successMess" hidden class="fst-italic fw-bold text-success my-auto ms-2" style="font-size: 14px;">Đã tải danh sách <i class='bx bx-check'></i></p>
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="fw-bolder w-100" for=""><i class='bx bx-bar-chart-alt-2' ></i> Tùy chọn</label>

                        <!-- Require check location -->
                        <div id="locationContainer" class="mt-2 d-flex align-items-center" style="height: 34px;">
                            <input onclick="getLocationBtn.hidden = !getLocationBtn.hidden" type="checkbox" style="width: 16px; height: 16px;" th:field="*{requireCheckLocation}">
                            <label for="" class="ms-2">Yêu cầu vị trí</label>
                            <div class="flex-fill"></div>
                            <button hidden id="getLocationBtn" class="btn btn-sm btn-outline-dark ms-3"><i class='bx bxs-map text-danger'></i> Lấy mốc</button>
                        </div>

                        <!-- Set start time -->
                        <div id="startContainer" class="mt-2 d-flex align-items-center" style="height: 34px;">
                            <input type="checkbox" style="width: 16px; height: 16px;" onclick="defaultMess1.hidden = !defaultMess1.hidden; startTimeInput.hidden = !startTimeInput.hidden">
                            <label for="" class="ms-2">Hẹn giờ mở</label>
                            <div class="flex-fill"></div>
                            <input id="startTimeInput" type="datetime-local" class="form-control-sm w-auto border-1 border-secondary" hidden th:field="*{startTime}">
                            <p id="defaultMess1" class="fst-italic float-end text-secondary my-auto" style="font-size: 14px;">(Mặc định: Mở khi tạo phòng)</p>
                        </div>

                        <!-- Set end time -->
                        <div id="endContainer" class="mt-2 d-flex align-items-center" style="height: 34px;">
                            <input type="checkbox" style="width: 16px; height: 16px;" onclick="defaultMess2.hidden = !defaultMess2.hidden; endTimeInput.hidden = !endTimeInput.hidden">
                            <label for="" class="ms-2">Hẹn giờ đóng</label>
                            <div class="flex-fill"></div>
                            <input id="endTimeInput" type="datetime-local" class="form-control-sm w-auto border-1 border-secondary" hidden th:field="*{endTime}">
                            <p id="defaultMess2" class="fst-italic float-end text-secondary my-auto" style="font-size: 14px;">(Mặc định: Mở khi tạo phòng)</p>
                        </div>
                    </div>

                    <!-- Ẩn -->
                    <div id="list">
                    <div th:each="attendee, iterStat : *{attendees}">
                        <input type="hidden" th:field="*{attendees[__${iterStat.index}__].checkInCode}"/>
                        <input type="hidden" th:field="*{attendees[__${iterStat.index}__].name}"/>
                    </div>
                    </div>
                    <input id="latitude" type="hidden" th:field="*{latitude}">
                    <input id="longitude" type="hidden" th:field="*{longitude}">
                </div>

                <div class="d-flex w-100 justify-content-center mt-3">
                    <button class="btn btn-sm btn-secondary">Quay lại trang chủ</button>
                    <button class="btn btn-sm btn-outline-dark ms-2 px-3">Tạo phòng</button>
                </div>
            </form>
        </div>

        <!-- Upload list dialog -->
        <div hidden id="uploadListDialog" class="w-100 h-100 position-fixed top-0 start-0 overflow-y-auto" style="background-color: rgba(128, 128, 128, 0.478);">
            <div class="position-absolute start-50 translate-middle-x" style="width: 800px; margin-top: 80px; margin-bottom: 50px;">
                <div class="card card-body pt-2">
                    <div class="text-center fs-5 fw-bold">Cập nhật danh sách người tham gia</div>
                    <div class = "fs-6 fst-italic w-100 text-center text-secondary">(*) Lưu ý những dòng trống trong file excel sẽ không được đọc</div>
                    <button class="btn btn-close position-absolute top-0 end-0 m-1" onclick="uploadListDialog.hidden = true"></button>
                    
                    <!-- content -->
                    <small id="count" class="mt-2">Số lượng: <b th:text="${data.attendees.size()}"></b></small>
                    <div class="row" style="font-size: 14px;">
                        <!-- Preview -->
                        <div class="col-6">
                            <table class="table" id="previewTable" th:object="${data}">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã điểm danh</th>
                                        <th>Tên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div th:each="attendee, iterStat : *{attendees}">
                                        <tr>
                                            <td th:text="${iterStat.index + 1}"></td>
                                            <td th:text="${attendee.checkInCode}"></td>
                                            <td th:text="${attendee.name}"></td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
    
                        <!-- Upload Config -->
                        <div class="col-6">
                            <div class="d-flex justify-content-between mb-2">
                                <span>Thứ tự cột chứa mã điểm danh:</span>
                                <input type="text" style="width: 40px;" id="idColumnInput" class="border-1 border-secondary px-1">
                            </div>
    
                            <div class="d-flex justify-content-between mb-2">
                                <span>Thứ tự cột chứa tên:</span>
                                <input type="text" style="width: 40px;" id="nameColumnInput" class="border-1 border-secondary px-1">
                            </div>
    
                            <div class="d-flex justify-content-between mb-2">
                                <span>Dòng bắt đầu:</span>
                                <input type="text" style="width: 40px;" id="startRowInput" class="border-1 border-secondary px-1">
                            </div>
    
                            <div class="d-flex flex-column mb-2">
                            <span class="mb-2">Tải lên file excel:</span>
                            <input type="file" accept=".xlsx, .csv" id="getListFromExcelBtn"/>
                            </div>
                        </div>
                    </div>
    
                    <!-- Action -->
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-sm btn-secondary" style="width: 100px;" onclick="instructionImage.hidden = false">Hướng dẫn</button>
                        <button class="btn btn-sm btn-outline-dark ms-2" id="saveBtn" style="width: 100px;">Lưu</button>
                    </div>
                </div>
                <div class="w-100" style="height: 50px;"></div>
            </div>
        </div>

        <!-- Get location dialog -->
        <div hidden id="getLocationDialog" class="w-100 h-100 position-fixed top-0 start-0" style="background-color: rgba(128, 128, 128, 0.478);">
            <div class="card card-body position-absolute start-50 translate-middle-x pt-2" style="width: 800px; margin-top: 80px;">
                <div class="text-center fs-5 fw-bold">Lấy vị trí</div>
                <button class="btn btn-close position-absolute top-0 end-0 m-1" onclick="getLocationDialog.hidden = true"></button>
            
                <!-- content -->
                <div class="row mt-4" style="font-size: 14px;">
                    <div class="col-6">
                    <div class="d-flex justify-content-between">
                        <label class="align-content-center">Tùy chọn</label>
                        <select id="getLocationMethodSelect" class="border-1 border-secondary p-1">
                        <option value="1">Mặc định</option>
                        <option value="2">Lấy vị trí thủ công (Bằng GG Maps)</option>
                        <option value="3">Lấy vị trí bằng điện thoại</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-6">
                
                    <!-- option 1 -->
                    <select id="locationSelect" class="w-75 mb-2 border-1 border-secondary p-1">
                        <option value="1">PTIT</option>
                    </select>
                
                    <!-- option 2 -->
                    <input id="positionInput" type="text" placeholder="Kinh độ, Vĩ độ" class="mb-2 border-1 border-secondary p-1" hidden>
                
                    <!-- option 3 -->
                    <div id="QR" hidden>
                        <div class="d-flex">
                        <img src="" alt="" width="160px" height="160px">
                        <div class="d-flex flex-column mx-2">
                            <span class=" text-secondary fst-italic">Dùng điện thoại scan QR để lấy vị trí</span>
                            <div class="d-flex flex-column mt-3 pe-2">
                            <span>Kết quả:</span>
                            <p id="qrResult">[trống]</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            
                <!-- Action -->
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-sm btn-secondary" style="width: 100px;">Hướng dẫn</button>
                    <button class="btn btn-sm btn-outline-dark ms-2" onclick="saveLocation()" style="width: 100px;">Lưu</button>
                </div>
            </div>
        </div>

        <!-- Notification -->
        <div id="notification" class="position-fixed w-100 h-100 top-0 start-0" style="z-index: 100000; background-color: rgba(128, 128, 128, 0.551);" hidden>
            <div class="card card-body p-2 position-absolute start-50 translate-middle-x" style="width: 360px; margin-top: 80px;">
                <button class="btn btn-close position-absolute end-0 top-0 m-2" onclick="notification.hidden = true"></button>
                <div class="m-0 text-center" style="font-size: 18px;">Thông báo</div>
                <hr class="mt-2 mb-2">
                <p id="noti-msg" class="text-center px-2"></p>
                
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-outline-secondary btn-sm text-center" style="width: 100px;" onclick="notification.hidden = true">OK</button>
                </div>
            </div>
        </div>

        <!-- Instruction image -->
        <div hidden id="instructionImage" class="w-100 h-100 top-0 start-0 position-fixed" style="z-index: 10000; background-color: rgba(128, 128, 128, 0.466);">
            <button class="btn btn-close fs-1 position-absolute end-0 top-0 m-2" onclick="instructionImage.hidden = true"></button>
            <img src="../static/images/hd1.jpg" alt="" class="position-absolute top-0 mt-5 start-50 translate-middle-x border-2 bg-dark sh"
            style="max-width: 1000px;">
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
        <script th:inline="javascript"> var data = /*[[${data}]]*/ {}; </script>
        <script src="/js/create-room.js"></script>
    </div>
</body>
</html>