<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h1, input, button, .list, .div4_1, .div5_1 {
          left: calc(50% - 200px);
            
        }
        .div6 {
          margin-left: calc(50% - 150px);
        }
    </style>
</head>
<body class = "relative">
  <div class = " p5.1 flex flex-col w-[100vw] h-fit box-border gap-4 absolute z-10">
    <div class = "div1 flex flex-row justify-start mt-5 ">
      <div class = "flex flex-row justify-start gap-1 ml-10">
          <box-icon class = "w-[30px] h-[30px] cursor-pointer" name='reply' color='rgba(0,0,0,0.61)'></box-icon>
          <p class = "text-lg font-medium text-slate-500">Quay lại</p>
      </div>
      <h1 class = "font-medium text-3xl absolute w-fit pl-[50px]">Tạo phòng điểm danh</h1>
    </div>
  
    <div class = "div2 flex flex-row mt-7 items-center ">
      <label class = "text-lg font-medium ml-[100px]">Tên phòng</label>
      <input type="text" placeholder="  Nhập ..." class = "absolute ml-[0px] h-[40px] border-[1.5px] border-gray-900 rounded-sm w-[400px] focus:outline-none focus:border-green-600">
    </div>
  
    <div class = "div3 flex flex-row mt-7 items-center ">
      <label class = "text-lg font-medium ml-[100px]">Tên chủ phòng</label>
      <input type="text" placeholder="  Nhập ..." class = "absolute ml-[0px] h-[40px] border-[1.5px] border-gray-900 rounded-sm w-[400px] focus:outline-none focus:border-green-600">
    </div>
  
    <div class = "div4 flex flex-row mt-7 items-center ">
      <label class = "text-lg font-medium ml-[100px] w-[175px]">Danh sách duyệt</label>
      <div class = "flex felx-row absolute div4_1">
        <button class = "bg-gray-400 text-white w-[120px]  rounded py-1" id="check5">Chỉnh sửa</button>
        <box-icon class = "w-[20px] h-[20px] ml-[5vw] mr-[10px]" name='check' color='#34ba65' ></box-icon>
        <p class = "">Đã tạo danh sách</p>
      </div>
    </div>
  
    <div class = "div5 flex flex-row mt-5 items-center ">
      <label class = "text-lg font-medium ml-[100px] self-start w-[175px]">Tùy chọn</label>
      <div class = "flex flex-col gap-3 pt-0 pb-[4px] absolute div5_1 mt-[15vh]">
        <!-- check vi tri -->
        <div class="list flex flex-row ">
            <input type="checkbox" id="check1" class="mr-4 cursor-pointer" >
            <label for="check1" class="flex items-center mr-24">
                <span class = "text-sm w-[130px] ">Check vị trí</span>
            </label>
  
            <div class = "flex flex-row cursor-pointer hidden" id = "info1">
            
              <div id="check7" class = "flex flex-row h-[30px] px-2 pt-1 bg-green-600 justify-center mr-12 rounded-sm">
                <box-icon class = "w-[20px] h-[20px]" name='map' type='solid' color='#e13d3d' ></box-icon>
                <p class = "text-sm ">Lấy mốc</p>
              </div>
              <div>
                <select class="border border-gray-600 text-sm rounded-sm py-1 px-3 w-[150px] appearance-none focus:outline-none focus:border-green-500 cursor-pointer">
                  <option value="" class = "text-sm" disabled selected>Nhập phạm vi</option>
                  <option value="option1" class = "text-sm">Lớp học</option>
                </select>
              </div>
            
            </div>
        </div>
  
        <!-- hen gio mo -->
        <div class="list flex flex-row ">
          <input type="checkbox" id="check2" class="mr-4 cursor-pointer" >
          <label for="check2" class="flex items-center mr-24 ">
              <span class = "text-sm w-[130px] ">Hẹn giờ mở</span>
          </label>
  
          <div class = "flex  w-fit mr-4 hidden" id="info2">
            <!-- <label for="meeting-time" class = "bg-green-600 text-sm pl-2 pr-1 mr-1 rounded-sm h-[25px]">Chọn thời gian:</label> -->
            <input type="datetime-local" name="meeting-time" class = "bg-yellow-500 text-[14px] rounded-sm h-[25px] mr-2 px-2 " 
                    value="2024-01-01T00:00"
                    min="2024-01-01T00:00" max="2025-12-31T23:59">
          </div>
  
          <div>
            <p class = "text-sm text-left pt-1 font-normal">(Mặc định: Mở khi tạo phòng)</p>
          </div>
          <!-- <script>
            const checkbox2 = document.getElementById('check2');
            const additionalInfo2 = document.getElementById('info2');
            checkbox.addEventListener('change', () => {
                if (checkbox2.checked) {
                    additionalInfo2.classList.remove('hidden');
                } else {
                    additionalInfo2.classList.add('hidden');
                }
            });
          </script> -->
        </div>
        
        <!-- hen gio dong -->
        <div class="list flex flex-row ">
          <input type="checkbox" id="check3" class="mr-4 cursor-pointer" >
          <label for="check3" class="flex items-center mr-24">
            <span class = "text-sm w-[130px] ">Hẹn giờ đóng</span>
          </label>
  
          <div class = "flex  w-fit mr-4 hidden" id="info3" >
            <!-- <label for="meeting-time" class = "bg-green-600 text-sm pl-2 pr-1 mr-1 rounded-sm h-[25px]">Chọn thời gian:</label> -->
            <input type="datetime-local"  name="meeting-time" class = "bg-yellow-500 text-[14px] rounded-sm h-[25px] mr-2 px-2 " 
                  value="2024-01-01T00:00"
                  min="2024-01-01T00:00" max="2025-12-31T23:59">
          </div>
  
          <div>
            <p class = "text-sm text-left pt-1 font-normal">(Mặc định: Đóng khi duyệt thành công)</p>
          </div>
          <!-- <script>
            const checkbox3 = document.getElementById('check3');
            const additionalInfo = document.getElementById('info3');
            checkbox.addEventListener('change', () => {
                if (checkbox3.checked) {
                    additionalInfo3.classList.remove('hidden');
                } else {
                    additionalInfo3.classList.add('hidden');
                }
            });
          </script> -->
        </div>
  
        <!-- tu dong diem danh -->
        <div class="list flex">
            <input type="checkbox" id="check4" class="mr-4 cursor-pointer" >
            <label for="check4" class="flex items-center">
                <span class = "text-sm w-[130px] ">Tự động điểm danh</span>
            </label>
        </div>
  
      </div>
    </div>
  
    <div class = "div6 w-fit">
      <button class = "text-3xl  w-[300px] h-[50px] pb-2 bg-green-600 rounded text-white absolute mt-[20vh]">Tạo phòng</button>
    </div>
  </div>

  <form action="" id="info5" class = " p5.2 flex flex-col items-center w-[70vw] h-[70vh] bg-white	 border border-black rounded-sm absolute ml-[15vw] mt-[15vh] z-50 hidden">
    <div class = "flex flex-row ">
      <h2 class = "font-bold text-2xl w-fit mt-2">Danh sách điểm danh</h2>
      <box-icon name='x' id="x1" color='rgba(0,0,0,0.66)' class = "w-[40px] h-[40px] absolute top-0 right-0 mt-2 mr-2 cursor-pointer" ></box-icon>
    </div>

    <div class = "flex flex-row w-full">
      <h3 class = "w-fit self-start ml-5 mt-5" >Số lượng: </h3>

    </div>

    <div class = "flex flex-row gap-10">
      <div class = "bang1 mt-6">
        <div class="w-full max-w-4xl ">
          <div class="scrollable-table border border-gray-300 rounded-lg shadow max-h-[180px] overflow-y-auto	">
              <table class="min-w-full">
                  <thead class="bg-gray-200">
                      <tr>
                          <th class="px-4 py-2 border">STT</th>
                          <th class="px-4 py-2 border">Mã điểm danh</th>
                          <th class="px-4 py-2 border">Họ và tên</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="px-4 py-2 border">1</td>
                          <td class="px-4 py-2 border">B22DCCN001</td>
                          <td class="px-4 py-2 border">Nguyễn Văn A</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">2</td>
                          <td class="px-4 py-2 border">B22DCCN002</td>
                          <td class="px-4 py-2 border">Nguyễn Văn B</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">3</td>
                          <td class="px-4 py-2 border">B22DCCN003</td>
                          <td class="px-4 py-2 border">Nguyễn Văn C</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">4</td>
                          <td class="px-4 py-2 border">B22DCCN004</td>
                          <td class="px-4 py-2 border">Nguyễn Văn D</td>
                      </tr>
                      <tr>
                        <td class="px-4 py-2 border">5</td>
                        <td class="px-4 py-2 border">B22DCCN005</td>
                        <td class="px-4 py-2 border">Nguyễn Văn E</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">6</td>
                          <td class="px-4 py-2 border">B22DCCN006</td>
                          <td class="px-4 py-2 border">Nguyễn Văn F</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">7</td>
                          <td class="px-4 py-2 border">B22DCCN007</td>
                          <td class="px-4 py-2 border">Nguyễn Văn G</td>
                      </tr>
                      <tr>
                          <td class="px-4 py-2 border">8</td>
                          <td class="px-4 py-2 border">B22DCCN008</td>
                          <td class="px-4 py-2 border">Nguyễn Văn H</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>

      <div class = "bang2 flex flex-col w-[350px]4 gap-4 mt-8">
        <div class = "hang1 flex flex-row 4 relative">
          <h3>Thứ tự hàng chứa mã điểm danh:</h3>
          <div class = " absolute right-0">
            <input type="text" class = "w-[70px] h-[30px] border border-black"></input>
          </div>
        </div>

        <div class = "hang2 flex flex-row  relative">
          <h3>Thứ tự hàng chứa tên:</h3>
          <div class = " absolute right-0">
            <input type="text" class = "w-[70px] h-[30px] border border-black"></input>
          </div>
        </div>

        <div class = "hang3 flex flex-row relative">
          <div class = "upload flex flex-row w-[150px] h-[30px] bg-gray-400 text-white rounded">
            <box-icon name='upload' color='white ' class = "w-[20px] h-[20px] ml-8 mt-1 mr-2" ></box-icon>
            <h4 class = "font-semibold mt-[2px] cursor-pointer">Tải lên</h4>
          </div>

          <div class = "flex felx-row mt-1">
            <box-icon class = "w-[20px] h-[20px] ml-[5vw] mr-[10px]" name='check' color='#34ba65' ></box-icon>
            <p class = "text-sm">Đã tải dssv.xlsx</p>
          </div>
        </div>
      </div>
    </div>

    <div class = "flex flex-row gap-4 mt-8">
      <button class = "w-[150px] h-[30px] bg-blue-500 text-white rounded-sm">Hướng dẫn</button>
      <button class = "w-[150px] h-[30px] bg-green-500 text-white rounded-sm">Lưu</button>
    </div>
  </form>

  <form action="" id="info7" class = " p5.3 flex flex-col items-center w-[70vw] h-[80vh] bg-white	 border border-black rounded-sm absolute ml-[15vw] mt-[10vh] z-50 hidden">
    <div class = "flex flex-row ">
      <h2 class = "font-bold text-2xl w-fit mt-2">Lấy vị trí phòng</h2>
      <box-icon name='x' id="x2" color='rgba(0,0,0,0.66)' class = "w-[40px] h-[40px] absolute top-0 right-0 mt-2 mr-2 cursor-pointer" ></box-icon>
    </div>

    <div class = "flex flex-row mt-4">
      <h4 class = "mr-4 text-base pt-1">Tùy chọn vị trí:</h4>
      <div class="relative mr-12">
        <select class="block appearance-none w-[275px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500 cursor-pointer">
            <option value="" disabled selected>Mặc định</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6" />
            </svg>
        </div>
      </div>

      <div class="relative">
        <select class="block appearance-none text-base w-[250px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500 cursor-pointer">
            <option value="" disabled selected>PTIT</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6" />
            </svg>
        </div>
      </div>
    </div>

    <div class = "flex flex-row mt-4">
      <h4 class = "mr-4 text-base pt-1">Tùy chọn vị trí:</h4>
      <div class="relative mr-12">
        <select class="block appearance-none text-base w-[275px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500 cursor-pointer">
            <option value="" disabled selected>Lấy vị trí thủ công(Google Map)</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6" />
            </svg>
        </div>
      </div>

      <div class="relative">
        <!-- <select class="block appearance-none w-[300px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500">
            <option value="" disabled selected>PTIT</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
        </select> -->
        <div class = "w-[250px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500">
          Kinh độ, vĩ độ
        </div>
      </div>
    </div>

    <div class = "flex flex-row mt-4">
      <h4 class = "mr-4 text-base pt-1">Tùy chọn vị trí:</h4>
      <div class="relative mr-12">
        <select class="block appearance-none text-base w-[275px] h-[40px] border border-gray-500 text-gray-700 py-2 px-4 pr-8 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500 cursor-pointer">
            <option value="" disabled selected>Lấy vị trí bằng điện thoại</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
        </select>
      </div>
      <div class = "flex flex-row w-[250px] border border-gray-500 text-gray-700 rounded-sm shadow leading-tight focus:outline-none focus:border-green-500">
        <div class = "w-[125px] h-[125px] border-[1.5px] border-green-700 rounded-sm"></div>
        <div class = "w-[125px] ml-2">
          <h6 class = "text-xs text-gray-500 italic">Dùng điện thoại quét mã QR để lấy vị trí</h6>
          <h4 class = "text-sm font-bold mt-8">Kết quả:</h4>
          <div action="" class = "w-[100px] h-[30px] text-xs border border-gray-500 text-gray-700 py-[6px] px-[5px] rounded-sm   focus:outline-none focus:border-green-500">Kinh độ, vĩ độ</div>
        </div>
      </div>
  


    </div>

    <div class = "flex flex-row gap-4 mt-6">
      <button class = "w-[150px] h-[30px] bg-blue-500 text-white rounded-sm">Hướng dẫn</button>
      <button class = "w-[150px] h-[30px] bg-green-500 text-white rounded-sm">Lưu</button>
    </div>
  </form>






  
  <script>
    const checkbox1 = document.getElementById('check1');
    const additionalInfo1 = document.getElementById('info1');
    checkbox1.addEventListener('change', () => {
        if (checkbox1.checked) {
            additionalInfo1.classList.remove('hidden');
        } else {
            additionalInfo1.classList.add('hidden');
        }
    });

    const checkbox2 = document.getElementById('check2');
    const additionalInfo2 = document.getElementById('info2');
    checkbox2.addEventListener('change', () => {
        if (checkbox2.checked) {
            additionalInfo2.classList.remove('hidden');
        } else {
            additionalInfo2.classList.add('hidden');
        }
    });

    const checkbox3 = document.getElementById('check3');
    const additionalInfo3 = document.getElementById('info3');
    checkbox3.addEventListener('change', () => {
        if (checkbox3.checked) {
            additionalInfo3.classList.remove('hidden');
        } else {
            additionalInfo3.classList.add('hidden');
        }
    });

    const checkbox5 = document.getElementById('check5');
    const additionalInfo5 = document.getElementById('info5');
    checkbox5.addEventListener('click', () => {
      additionalInfo5.classList.toggle('hidden');
    });

    // const checkbox6 = document.getElementById('check6');
    // const additionalInfo6 = document.getElementById('info5');
    // checkbox6.addEventListener('click', () => {
    //   additionalInfo6.classList.add('hidden');
    // });

    const checkbox6 = document.getElementById('x1');
    checkbox6.addEventListener('click', () => {
        additionalInfo5.classList.add('hidden');
    });

    const checkbox7 = document.getElementById('check7');
    const additionalInfo7 = document.getElementById('info7');
    checkbox7.addEventListener('click', () => {
      additionalInfo7.classList.toggle('hidden');
    });

    const checkbox8 = document.getElementById('x2');
    checkbox8.addEventListener('click', () => {
        additionalInfo7.classList.add('hidden');
    });


  </script>
</body>
</html>