<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Trang chủ</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div layout:fragment="content">

        <!-- Thịnh -->
        <div class="section-1" style="padding-top: 50px;">
            <div class="container" >
                <div class="inner-wrap" >
                    <form action="">
                        <p class="fs-2 text-center text-secondary mb-0">Dự án website hỗ trợ điểm danh online</p>
                        <h3 class="inner-title">PTIT CHECK-IN</h3>
                        <p class="fs-5 fst-italic text-info text-center">Phát triển bởi: Team 2</p>
        
                        <div class="inner-form-wrap" style="margin-bottom: 15px; margin-top: 50px;">
                            <input type="text" placeholder="Nhập mã phòng" class="codeRoom">
                            <button type="text" class="LogInRoom border-0 bg-dark text-light">Vào phòng</button>
                        </div>
        
                        <p class="text-center text-secondary mb-3">Hoặc</p>
        
                        <button type="submit" class="inner-button">Tạo phòng điểm danh</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
    <script src="/js/index.js"></script>
</body>
</html>